@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<div>@ViewBag.Message</div>*@

@*<form role="form" method="post">
    <textarea name="message"></textarea>
    <input type="submit"/>
</form>*@

<div id="formSection">
    <form role="form" method="post" id="contactForm">
        <div>@ViewBag.Message</div>
        <div class="form-group">
            <textarea data-bind="value:message, valueUpdate:'input'" id="message" name="message" maxlength="100"></textarea>
        </div>
        <p><span data-bind="text:charactersRemaining"></span> characters remaining</p> 
        <button type="submit" class="btn btn-default" value="send">Submit</button>
        <p>
            <img src="~/Images/progress.gif" id="progress" style="display:none;" />
        </p>
    </form>
</div>

@* 
    Add progress feature for sending message with jQuery.
    Add the characters count feature using Knockout library.
*@
@section scripts {
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script>
        function contactViewModel() {
            var self = this;
            self.message = ko.observable('');
            self.charactersRemaining = ko.computed(() => {
                return 100 - self.message().length;
            });
        }
        ko.applyBindings(new contactViewModel());
    </script>

    <script>
        $('#contactForm').submit(() => {
            $("#progress").show();
            $.post('', { message: $('#message').val() }).done((response) => {
                setTimeout(() => {
                    $('#formSection').html(response);
                }, 3000);
            });
            return false;
        });
    </script>
}



@* Apply MS Ajax, using the unobtrusive Ajax *@
@*<div id="formSection">
    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "formSection" }))
    {
        <form role="form" method="post">
            <div>@ViewBag.Message</div>
            <div class="form-group">
                <textarea id="message" name="message"></textarea>
            </div>
            <button type="submit" class="btn btn-default" value="send">Submit</button>
        </form>
    }
</div>*@


@* Add the unobtrusive Ajax library *@
@*@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}*@


@*<form role="form" method="post">
    <div class="form-group">
        <textarea name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>*@

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>